# Archivos del sistema
.DS_Store
Thumbs.db

# Dependencias
node_modules/

# Archivos de entorno
.env
.env.local

# Archivos de IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# Archivos de log
*.log

# Archivos temporales
tmp/
temp/
