# Dependencias
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env
.env.local
.env.*.local

# Archivos de IDE/Editor
.idea/
.vscode/
*.swp
*.swo

# Archivos de construcción
/dist
/build
/out

# Archivos de caché
.cache/
.temp/

# Logs
logs
*.log
